$star-border-radius-md: var(--star-border-radius-md, 4px);
$star-border-radius-sm: var(--star-border-radius-sm, 2px);
$star-border-radius-lg: var(--star-border-radius-lg, 20px);
$star-border-radius-max: var(--star-border-radius-max, 50%);

$star-border-width: var(--star-border-width, 1px);
$star-border-style: var(--star-border-style, solid);
