@import "./common/variables";
@import "./mixins/hairline";
$prefix: "#{$namespace}-grid-item";

.#{$prefix} {
  &.#{$namespace}-hairline {
    @debug ".#{$prefix}.#{$namespace}-hairline";
    &::after {
      z-index: 1;
      border-width: 0 1px 1px 0;
    }
  }

  &--center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
